* {
  box-sizing: border-box;
}

:root {
  --h1-font-family: "Lobster", cursive;
  --text-font-family: "Open Sans", sans-serif;
  --body-background-color: lightsalmon;
  --border-color: black;
  --shadow-color: #1a1a1a;
}
/* one column layout below 700px screen width */
@media screen and (min-width: 700px) {
}
/* two column layout above 700px screen width */
@media screen and (min-width: 700px) {
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--body-background-color);
  font-family: var(--text-font-family);
  font-size: 1.125rem;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: 3.5rem;

  color: snow;
  text-shadow: 2px 2px var(--shadow-color);
}

.checked-content-list {
  text-align: center;
  margin-top: 3rem;
}

.second-password-field {
  margin-top: 0.55rem;
}

.style-password-box {
  border: 2px solid var(--border-color);
  border-radius: 0.125rem;
}

#show-hide-button {
  margin-top: 0.55rem;
  border: solid 0.125rem var(--border-color);
  border-radius: 0.125rem;

  background-color: black;
  color: snow;
  font-size: 15px;

  width: 13rem;
  height: 2rem;
}
